#master{
    // background-color: #07454715 ;
    background-color: #07454715;
    color: black;
    li{
        list-style-type: none;
    }
#welcome{
    padding-top:110px ; 
    background-color: #5fdadf;
    // color: rgb(53, 52, 52);
    // background-image: image(sky);
    width: 100%;
    padding-bottom: 95px;
    text-align: center;
   
    #tree{
        padding-left: 67px;
        margin-left: -8px;
        text-indent: -67px; 
        // max-height: 50px;
     //    overflow: hidden;
        padding-top: 0;
    }
  
  h1{
    color: rgb(52, 53, 53);
     text-align: center;
 }
 h3{
     text-align: center;
     color: rgb(25, 31, 31);
 }
 
 }
 #solve8{
    width: 100%;
    padding-top: 0;
 margin-top: -270px;
  


}
 


#centralize{
    
    
    h3{

    }
    .row{
        content:"";
        clear: both;
        display: table;
    }

    .column1{
        float:left;
        width: 100%;
        padding-right:5px;
        margin-top: 66px;
        

    }
    // .column2{
    //     float:left;
    //     width: 45%;
    //     padding-right:5px;
    //     padding-top: 15px;
    //     padding-left: 30px;
        

    // }



    img{
        width: 40%;
        // height: 90%;
       margin-top: 0px;
       padding-left: 20px;
       
        height: 340px;
 
    }

  

}
#vs{
    
    margin-top: -96px;
    padding-top: 0;
    align-items: center;
    // margin-right: 20px;
}

.column2{
    float:left;
    width: 100%;
    padding-right:5px;
    
}
#decent1{
    
    // width: 40%;
    height: 90%;
   margin-top:-13px;
   padding-left: 20px;
   background-color: rgba(132, 186, 202, 0.103);
   img{
    width: 45%;
    height: 90%;
   margin-top:-10px;
   padding-right: 15px;
}
}

#decent2{
    
    // width: 40%;
    height: 90%;
   margin-top:-13px;
   padding-left: 20px;
   background-color: rgba(132, 186, 202, 0.103);
   img{
    width: 45%;
    // height: 90%;
   margin-top:-10px;
   padding-right: 15px;
}
}

}

@media screen and (max-width: 759px) {
  #welcome{
   
}

#decentralize{
      


    img{
        width: 100%;
        
    }
  }
  }  

  #decent{
    // width: 40%;
    height: 90%;
   margin-top:-133px;
   padding-left: 20px;

   img{
    width: 45%;
    height: 90%;
   margin-top:-10px;
   padding-left: 10px;
}
}



//  .mob{
//     position: fixed;
//     right: 0px;
//     top:0px;
//     width: 300px;


//   }