

.wallet{
    background-color: #07454715;

    li{
        list-style-type: none;
    }




    #wall{
    padding-top:110px ; 
    background-color: #5fdadf;
  
    width: 100%;
    padding-bottom: 30px;

        h1{
            padding-left: 65px;
        }
    // text-align: center;
        


    #imgada{
        padding-left: 0px;
        margin-left: -8px;
    }


}

#ada{
    

    margin-top: -70px;

    h4{
        padding-top: 100px;
        text-align: center;
        padding-bottom: 15px;
    }
    h3{
        text-align: center;
        padding-bottom: 25px;
    }
    // .column {
    //     float: left;
    //     width: 50%;
    //     padding-left: 100px;
    //   }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}

//   .column2 {
//     float: right;
//     width: 50%;
//     padding-left: 10px;
 
 
    
//   }
#ada{

    // padding-left: 180px;
    h5{padding-left: 175px;
        padding-bottom: 30px;
        text-align: center;
    }
    h6{
        padding-left: 25px;
        padding-bottom: 30px;
        text-align: center;
    }
    ul{
        text-align: center;
    }
    .column {
        float: left;
      }
      
      .left {
        width: 50%;
      }
      
      .right {
        width: 50%;
      }
     
}
#wallets{
    margin-top: -40px;
    h5{padding-left: 200px;
        padding-bottom: 30px;
        // text-align: center;
    }

    ul{

        // text-align: center;
        padding-left: 195px;
    }
}


}