.card {
    
    border-color: black;
}
.table td, .table th {
    border-bottom: .05rem solid #dadee4;
    padding: .6rem .4rem;
   
}
.table th {
    border-bottom-width: .1rem;
}
.docs-content .column {
    padding: .4rem;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}
.table.table-striped tbody tr:nth-of-type(odd) {
    background: #f7f8f9;
}